<p>Like the software we discuss, this course is also open source and welcomes your contributions!</p>
<p>See <a href="https://gitlab.com/mooc-floss/mooc-floss" target="[object Object]">mooc-floss on gitlab</a>.</p>