<p>We know this course is difficult, and it might be hard to get into specific projects to contribute. Old projects do have a long history and can have a huge codebase which be intimidating or just harder to engage with. </p>
<p>[explain mentoring]</p>
<p>[explain it's not mandatory]</p>
<p></p>
<p>You can also always ask for help on the forum of this course: with some luck, other people around will work on the same project, or on projects where similar issues arise, and would be able to help one another.</p>