<p>Assignee: Marc</p>
<ul>
<li>Nowadays most free software projects and communities have them, except some small self-mediated communities that haven't had the need to formalize these rules yet. It has become one of the funding steps of a community, like the choice of a license.</li>
<li>Also includes other documents describing the rules for interacting within the project, like a <code>CONTRIBUTORS.md</code> document</li>
<li>The social rules to interact, they set expectations. We should not overlook them when joining a project. Project members wrote them for a reason and as a new member, it's important to understand and follow them.</li>
<li>One reason to follow those rules is that they will help getting their contribution accepted -- being rude or have behaviors that distract from the value of the contribution itself can be counter-productive to the contribution goal. Many people who don't pay enough attention to how to interact with other people in a way that will be agreeable to those people, who don't take the time to learn and observe the unwritten rules, end up being ignored and ghosted. It's an open source project, so there is rarely a requirement for anyone to respond -- part of the goal of a contributor is to make others <em>want</em> to respond and collaborate with them.</li>
<li>Part of the reasons why code of conducts exist is the need to correct for a lack of diversity, which generated bias and discriminatory attitudes towards those not part of the majority. Which is usually white males in their 30s, from Europe and North America, focused mainly on tech and code. If you're not from that group, or not contributing code, it was often considered that the person was worth less, and could be treated accordingly. Just like the origin of a contributor should not be a factor of discrimination, the type of contribution should not either: code, documentation or <a href="https://opensourcedesign.net/">design contributions</a> are equally important.</li>
<li>They are the "explicit" rules though, they don't include <em>all</em> the rules. They usually describe more of an ideal world and rarely include practical advice, and some remain implicit, eg. around trolling, community interactions, etc. Also many situations and people within projects have an history to consider - what is applied to a given situation might differ from the code of conduct, in those cases.
<ul>
<li>Also open source projects are far from the ideal of always conforming to all the rules -- in every community there is tension at times, confrontations, passive-aggressiveness, cliques and disputes. Don't be surprised to find yourself confronted to those at times.</li>
<li>Additionally, if you never participated in an interest group online, with people that you don't know, it could maybe be a shocking experience in some cases. Be prepared for something that is more fuzzy, more bizarre, maybe, than what the theory from the formal code of conduct, or that can be read in books. Joining a community is like joining a new culture - it requires a lot of openness and acceptance, within reason. It's also important to not be a stickler with the rules -- contributing to a community is supposed to be fun.</li>
</ul>
</li>
<li>The code of conduct is the last resort when everything else didn't work. Referring to a code of conduct and respecting it is a useful step, but not sufficient by itself. You know you're doing it right when nobody needs to refer to it, i.e. when the mediation ahead of the rules enforcement is sufficient. Cf example of the LibreOffice community: they have a code of conduct, but they almost never use it.</li>
<li>
<p>Newcomers to a project can be easy targets for abusive behaviors, so it's important to recognize those situations. Being new to a community, there is a strong incentive to try fit in, and it's harder to know what's exactly accepted behavior or not. As newcomers, we generally want to avoid looking confrontational or problematic, so questioning the behavior of established community members can be difficult -- for fear of getting our questions left unanswered, or our contributions unmerged. When we are the recipient of abuse, there can be a lot of pressure to just comply and go with it.</p>
<ul>
<li>It's thus important to identify whether there is someone within the community who is going to make sure that people who are a bit hostile or aggressive do not bother newcomers. Having someone handling the type of mediation mentioned above can make a huge difference, and ensures that contributing doesn't become an unpleasant experience.</li>
<li>It's also important to keep in mind that feedback about the atmosphere of a community is a contribution - one of the most difficult ones, actually. It's harder for established members to remember how it feels like to be a newcomer in their community.</li>
<li>And remember that if a community is problematic, walking away is always an option, and a form of feedback by itself.</li>
</ul>
</li>
<li>
<p>TODO: Establish a code of conduct for the course</p>
</li>
<li>TODO: Explicitly call for contributors and learners that will improve the project's diversity to join it and participate (and setup an internship with Outreachy?)</li>
<li>TODO: Get feedback from participants about the inclusivity and diversity of the course -- especially the first impressions</li>
</ul>
<p></p>