<p>Assignee: Kendall<br />Type: text, video?</p>
<p>TODO: This section would fit more the "Where?" module (module 2) -- to move there?</p>
<ul>
<li>How to contact the project, how people discuss in projects</li>
<li>Synchronous:
<ul>
<li>IRC/Zulip/Rocket.Chat/Mattermost/etc</li>
<li>IRL confs/meetups</li>
</ul>
</li>
<li>Asynchronous:
<ul>
<li>ML/Forum/etc</li>
<li>The time to get a response asynchronously can vary between project, and through time: if people are in vacation or busy it can get longer, and it can happen to not get an answer in time for something we need.</li>
</ul>
</li>
<li>
<p>The amount of reaction (and delay in getting it) is also related to the way questions are asked, or the way contributions are presented. Communicating it better, being more aware of the maintainers concerns and facilitating their tasks are ways to get more and faster answers.</p>
</li>
<li>
<p>Maybe instead detail here how different methods of communication work</p>
<ul>
<li>Activity/visual novel example: Don't open an IRC channel, ask is anyone around, and leave after one minute</li>
</ul>
</li>
</ul>
<p></p>