<h4 data-sourcepos="171:1-171:37" dir="auto"></h4>
<p></p>
<ul data-sourcepos="173:1-180:0" dir="auto">
<li data-sourcepos="173:1-177:0">
<p data-sourcepos="173:3-173:98">Figure out how does the project license and contribution process will affect their contribution:</p>
<ul data-sourcepos="174:3-177:0">
<li data-sourcepos="174:3-174:82">Write down whether there is a CLA, or whether the author keeps their copyright</li>
<li data-sourcepos="175:3-175:171">Identify the license that will apply, then pair with someone else, Read one line of the license to the other, and explain it to them. And then the roles are reversed.</li>
<li data-sourcepos="176:3-177:0">To do maybe over videoconference, or as a forum activity? Or split the licenses into multiple parts and different parts are spread to different students.</li>
</ul>
</li>
<li data-sourcepos="178:1-180:0">
<p data-sourcepos="178:3-178:334">Alternative idea: Based on a scenario, or on reading the lines of a license like described above, the learner has to explain "What would be the question to ask if we want to have this license text?". And provide questions similar to the questions asked by the creative commons license selector (<a href="https://creativecommons.org/choose/" rel="nofollow noreferrer noopener" target="_blank">https://creativecommons.org/choose/</a>).</p>
<ul data-sourcepos="179:3-180:0">
<li data-sourcepos="179:3-180:0">Or come up with a case, invent a fake project and describe why that project would fit into this license.</li>
</ul>
</li>
</ul>