<ul>
<li>Activity: Micro-patch<br />
<ul>
<li>Right after our initial interaction, it can help to show goodwill and start exploring the project's contribution processes by making a <em>micro-patch</em>, which means sending a pull request so small and straightforward that it should not require any thinking or discussion by the reviewer (but still be useful to the project).</li>
<li>The idea here is to avoid focusing on the technical challenge, by making the contribution itself as small as possible, to be able to through the contribution process once. We want to gain knowledge about that process, both from a technical and an interpersonal point of view. It will come in handy once we start considering slightly larger contributions -- we will know what to expect.</li>
<li>Example of a micro-patch: <a href="https://github.com/python/cpython/pull/7348">https://github.com/python/cpython/pull/7348</a></li>
</ul>
</li>
</ul>
<p></p>