<h3>Reproducing &amp; fixing a bug</h3>
<ul>
<li>Break it down in successive steps -- each of which can be an individual contribution, leaving the later steps to others if they prove to be too complex. The earlier steps will already have save work for other contributors.</li>
<li>Start with reproducing the bug: confirm that you can reproduce it manually using the instructions in the bug report, and explicitly comment on the ticket that you could reproduce, and how. If any information is missing in the bug report that you needed to reproduce the bug, include the missing reproduction steps and information</li>
<li>A great intermediary second step, before attempting to fix the bug, is to write a test that reproduces the bug. It's like an ideal version of the reproduction steps -- a systematic implementation in code, to reproduce the bug automatically. This also saves time writing the bugfix itself, as the bugfix would need to include the test. Post the test as a patch in the bug report, or as a draft pull request.</li>
<li>The last step is to finally fix the bug, which at this point is greatly facilitated by the existence of detailled reproduction steps and a test -- it becomes about getting the test to pass, by understanding and fixing what makes it fail.</li>
</ul>
<p></p>