<p>Module coordinator: Xavier<br />Length: ~2h</p>
<ul>
<li>We take a very practical approach -- contribution isn't something you can learn just in theory, it's something that has to be done and experienced to be understood. Until you've actually contributed your code to a project, felt the sweat of pressing the submit button, and achieved the thrill of seeing it merged by a project maintainer, it's difficult to actually understand, and remains a nebulous and often frightening prospect.</li>
<li>We are going to take you, little by little, through the various steps that lead to successful contributions. But you have to do your part, and actually perform the activities presented throughout the course. Just like in any open source project, there will be a world of difference between the doers, the ones who actually contribute some work, and the lurkers, who only watch, and never fully join a project.</li>
</ul>
<p><br /><br /></p>