<p>Not all contribution types require the same level of complexity. As mentioned in module 1, we want to start from the smallest size, and slowly work our way towards the larger, more complex levels, especially with social aspects:</p>
<ol>
<li>Answering a question on the mailing list or IRC from someone who asks it</li>
<li>Fixing a typo in the documentation</li>
<li>Improving the documentation contents</li>
<li>Reproducing a easy simple bug</li>
<li>Write a test that reproduces a easy simple bug (half the work of fixing the bug)</li>
<li>Fixing a easy simple bug in trivial way</li>
<li>Fixing a more complex bug</li>
<li>Developing a feature</li>
<li>Reorganizing the governance of the project</li>
</ol>
<p></p>