<p data-sourcepos="27:1-27:136" dir="auto">Convey the idea that the main obstacle to contribution is social and not "code" - convince potential contributors it's worth their time:</p>
<ul data-sourcepos="28:1-33:0" dir="auto">
<li data-sourcepos="28:1-28:140">Even if you're a driveby contributor, you'll need to understand what the reviewer of your code will expect, what they will ask of you, etc</li>
<li data-sourcepos="29:1-29:94">This can be seen as part of <em>networking</em> in general, applied to the context of contributions</li>
<li data-sourcepos="30:1-30:175">Your contribution time is not the only thing involved in a successful contribution : There is also time spent by reviewers, by people maintaining or updating the code, etc.</li>
<li data-sourcepos="31:1-31:174">Interact ASAP, because you will need to be known from people when you'll submit your MR. If they know you for a longer time, it will be easier as the people will know you.</li>
<li data-sourcepos="32:1-33:0">It will also be easier if you know people to align expectations (you will know more about the scope of the project, and about the expertise of people present in the project)</li>
</ul>
<p data-sourcepos="34:1-34:70" dir="auto">When entering a project, you are not in "your" world (see week1 game):</p>
<ul data-sourcepos="35:1-37:0" dir="auto">
<li data-sourcepos="35:1-35:184">you have to "submit" yourself to the reviewers and "accept" that there are reviews (which may vex you or that you may think pointless -- you will score points by following the rules)</li>
<li data-sourcepos="36:1-37:0">Parallel with a party: you're at someone's place to take part in the party, you'll follow the host rules until you're a long-time contributor :)</li>
</ul>
<p></p>
<p data-sourcepos="38:1-38:94" dir="auto">FIXME: To reconcile with the "project tips" section of module 1, where this is also discussed.</p>