<p>Welcome to MOOC-FLOSS 101!</p>
<p>In this course, you will learn how to join the free and open source software community and contribute.</p>
<p>It is currently an early draft, and contains only the structure and a rough compilation of the initial brainstorming sessions held by the authoring team. Feel free to browse though, as well as make comments or contribute improvements! The source can be found at <a href="https://gitlab.com/mooc-floss/mooc-floss/" target="[object Object]">https://gitlab.com/mooc-floss/mooc-floss/</a></p>