<h4 id="prerequisites-text-images-1min-">Prerequisites (text/images, 1min)</h4>
<p>Minetest should work on any hardware and with most operating systems (Windows, macOS, or most linux distributions) and even on some Android phones and tablets.</p>
<p>If you are in a restricted environment, like a school or university, it is possible that the network blocks some ports, including the default port of Minetest. In this case, ask your system administrator to unlock port UDP 3000. TODO (Mc): see if we can host on port tcp/443</p>
<h4 id="how-to-install-minetest-text-images-2-min-">How to install minetest (text/images, 2 min)</h4>
<p>You can find installation instructions at <a href="https://www.minetest.net/downloads/">https://www.minetest.net/downloads/</a></p>
<h4 id="activity-text-images-7-min-">Activity (text/images, 7 min)</h4>
<p>Once installed, you can launch it and try a test world: TODO Screenshots</p>
<ul>
<li>Click on "New" to create a new world, then click on "Create".</li>
<li>Select "Creative mode" on the left, then click on "Play game"</li>
<li>Check that you can move around with WASD keys, familiarize yourself with the mouse movements, with what happens when you left click, look at the block types in inventory (<key>I</key>), try to place one with the right click.</li>
<li>Once you're comfortable with the keys, press Esc, then Exit to menu.</li>
<li>In the menu, click on "Join game" then enter TODO and TODO in Address/port fields.</li>
<li>First, "visit" what is already there. You may get ideas of the underlying logic of what is around already.</li>
<li>If there are other people in the server, great! You can take this opportunity to ask them (press <key>T</key> to chat) what they are building and how to help them!</li>
<li>If you're alone, no worries. Just look around, and find something to improve on, or to add to the world.</li>
<li>You can spend as much time as you want on this project, but we recommend to try for at least half an hour, then post on the forum with a screenshot of what you've done :)</li>
</ul>
<h4 id="troubleshooting">Troubleshooting</h4>
<ul>
<li>
<p>If you don't have a QWERTY keyboard layout, you might need to adjust keys, which you can do in the menu (Esc → "Change keys").</p>
</li>
<li>
<p>If you find instances of unacceptable behaviour (chat abuse in violation of the code of conduct, etc.) please report it on the forum and we will act accordingly.</p>
</li>
<li>
<p>If the server is full, please try again later and report the issue on the forum, we'll try to increase the capacity</p>
</li>
</ul>