<p><span class="line" lang="markdown">TODO Remi: Finish compiling elements from brainstorm (see section of brainstorm.md <em>"</em></span><span id="LC41" class="line" lang="markdown"><em>Mapping a project's locations"</em>)</span></p>