<h3>Attitude towards maintainers</h3>
<ul>
<li>Thinking about the upstream maintainers in positive terms is important to build trust with them -- otherwise collaboration will be extremely difficult. Even when we disagree about their methods, or find flaws in their technical approaches, it's important to maintain our respect and trust in their judgement.</li>
</ul>
<ul>
<li>One way to do this is to remember how much work, effort and skill it must have taken them to get the project to what it is now. Nobody is perfect, but they have been good enough to bring the project to its current stage. They deserve merit and respect from that achievement -- while, when we join the project, we haven't yet proven our worth, nor contributed a comparable amount of work, or even fully understood the full context and history of the project, yet.</li>
</ul>
<h3>Dealing with rejection</h3>
<ul data-sourcepos="191:1-197:2" dir="auto">
<li data-sourcepos="191:1-191:213">Warn that the contribution might be rejected -- Wikipedia can be harsh on its criterias for accepting contributions (yet it's the most well known, and it works despite of that, which puts things in perspective).</li>
<li data-sourcepos="192:1-192:293">When we are contributing to a common good where other people are governing, there is a review process to ensure contributions match the criteria from the people governing it (including post-moderation via reverts, in the case of Wikipedia). It's important to be prepared to see it discarded.</li>
<li data-sourcepos="193:1-193:102">In the case of Wikipedia, the more small and sourced the chance and the highest chances it can stay.</li>
<li data-sourcepos="194:1-197:2">Segway into talking about negative experiences in FLOSS, and getting harsh reactions from maintainers:
<ul data-sourcepos="195:3-197:2">
<li data-sourcepos="195:3-195:327">Contributions and feedback goes both ways, be prepared not to take personally some remarks, or reverts! Contributing is also exposing ourselves to others, who might have different perspectives. Other contributors or maintainers will review your contributions, and give their opinon about it. It is often not what we expect.</li>
<li data-sourcepos="196:3-197:2">Other users, contributors and maintainers might not be nice, or communicate poorly. It's important to be able to detatch ourselves from our work, to avoid taking it personally, and instead aim to take what we can out of it, to improve the final result.</li>
</ul>
</li>
</ul>