<h3>Contributing support work</h3>
<ul>
<li>Contributing support work is one of the easiest form of contributions: it doesn't require any specific permission, and usually that's something that people who manage the project are really grateful for because there are always way too many questions to answer. It's a low-friction way to start contributing immediately, while gaining knowledge about the project, and recognition from other projects members through very visible and useful work.</li>
<li>Can be done in the forum (looking at threads which are missing an answer), IRC, bug tracker (reproducing bugs, linking to duplicates, etc.)</li>
</ul>
<p></p>