<ul>
<li data-sourcepos="117:1-122:0">
<p data-sourcepos="117:3-117:30">Examples of business models:</p>
<ul data-sourcepos="118:3-122:0">
<li data-sourcepos="118:3-118:110">Service-based, like Red Hat's where you can pay to have support or services or development around products</li>
<li data-sourcepos="119:3-119:46">SaaS, software as a service. Ex: Discourse</li>
<li data-sourcepos="120:3-120:18">Dual licensing</li>
<li data-sourcepos="121:3-122:0">Open core</li>
</ul>
</li>
<li data-sourcepos="123:1-125:0">
<p data-sourcepos="123:3-123:50">Explain how economic models relate to licensing.</p>
<ul data-sourcepos="124:3-125:0">
<li data-sourcepos="124:3-125:0">For example, why dual licensing an AGPL project would make a company pay to use the project under a different license</li>
</ul>
</li>
</ul>
<p></p>
<ul>
<li data-sourcepos="126:1-131:0">
<p data-sourcepos="126:3-126:72">Scarcity as a useful lens to analyse a business plan related to FLOSS:</p>
<ul data-sourcepos="127:3-131:0">
<li data-sourcepos="127:3-127:311">Main criteria: does it accomodate the non-scarce nature of FLOSS (and electronic data in general), or does it attempt to recreate that scarcity artificially? Ie does it embrace the nature of FLOSS and electronic freedom, or does it attempt to hold it back to be able to fit more traditional business models?</li>
<li data-sourcepos="128:3-128:319">A proprietary license is a good example of attempting to deal with software like physical goods -- by forbidding the redistribution, even if the act of copying wouldn't cost anything by itself. This recreates scarcity artificially: if you want to be able to copy the software, you need to pay something every time.</li>
<li data-sourcepos="129:3-129:501">On the other side, there will be things that are not artificial in terms of scarcity: services like the business model of Red Hat or OpenCraft. Or SaaS, which monetizes server resources, and maintenance. Or this course, which is freely distributable but if you want service, if you want mentorship, if you want things that can't be multiplied freely to infinity, then there is still a need to allocate scarce resources through monetary payments -- but without holding up what can be copied freely.</li>
<li data-sourcepos="130:3-131:0">There will also be intermediary ones, like for example dual licensing. You can actually use it any way you want, but if you want to be able to put your own conditions, then you need to pay. So it's not actually something scarce if you play by the rules, but you can have a scarcity in terms of licensing terms which is a bit artificial.</li>
</ul>
</li>
</ul>