<ul>
<li>Update journal with (include links to relevant sections/modules):
<ul>
<li>Project (what?)</li>
<li>Locations (where?) and especially communication channels being monitored (MLs, IRC channels, etc)
<ul>
<li>Quantitative data about activity levels there</li>
</ul>
</li>
<li>Actors of the projects (who?)</li>
<li>How:
<ul>
<li>How the project works (points from the current document: code of conduct</li>
</ul>
</li>
<li>Potential contributions details/ideas (type of contribution, area/repos identified, core/plugin, etc.)</li>
<li>Mentor or mentoring resources if you have one already</li>
<li>Mentor/peers</li>
</ul>
</li>
<li>Store this data on Wikidata, as a contribution? (common parts: ease of contribution, frequency of replies, etc.)</li>
<li>
<p>Peer review of the journal -- from any student, but ideally from other students paired on the same project, and/or the mentor.</p>
</li>
<li>
<p>TODO: Integrate with the section about "Finalizing the project selection" above? Use the journal as the grading rubric, storing information about various projects being evaluated throughout the weeks?</p>
</li>
</ul>
<p></p>