<p>This MOOC being an open-source project itself, you can contribute to it and help improve it! </p>
<p>In fact, we're certain that some minor typos, inconsistencies, or other similar issues must have slipped by when we wrote it, and we'd love to have them pointed out on the <a href="https://gitlab.com/mooc-floss/mooc-floss/-/issues" target="[object Object]">bugtracker</a>, or even better, once you'll know how to do it, suggest a fix!</p>