<p>Assignee: Marc Type: mostly text</p>
<ul>
<li>Netiquette:
<ul>
<li>Making sure you read the mailing list a little bit before posting the first time
<ul>
<li>On the other side, <em>do</em> participate quickly after becoming familiar with the contents. Remember the party metaphore: entering the room and starting blurting anything that comes to your mind immediately, without regard for the others, is unlikely to be appreciated. On the other side, just sitting in a corner the whole evening without talking to anyone wouldn't bring anything good either.</li>
</ul>
</li>
<li>Avoid big chunks of quoted text</li>
<li>Don't waste people's time, do your homework first</li>
</ul>
</li>
</ul>
<p>References:</p>
<ul>
<li><a href="http://www.catb.org/~esr/faqs/smart-questions.html">http://www.catb.org/~esr/faqs/smart-questions.html</a></li>
<li><a href="https://producingoss.com/en/setting-tone.html">https://producingoss.com/en/setting-tone.html</a></li>
<li><a href="https://producingoss.com/en/communications.html">https://producingoss.com/en/communications.html</a> - recognize rudeness, setting the tone, avoiding common pitfalls like the smaller the topic, the longer the debate, etc.</li>
<li>
<p><a href="https://datatracker.ietf.org/doc/html/rfc1855">https://datatracker.ietf.org/doc/html/rfc1855</a></p>
</li>
<li>
<p>TODO: Use Producing Open Source Software as a handbook throughout the course, assigning chapters to read? The role of the contributor and the project manager are mirror roles: good practice as a contributor also informs how to select the project and how to behave as a maintainer -- by responding to good behavior from one side, by good behavior from the other side.</p>
</li>
</ul>
<p></p>