<ul>
<li data-sourcepos="103:1-105:95">The main licenses and their differences, what they imply
<ul data-sourcepos="104:3-105:95">
<li data-sourcepos="104:3-104:19">Copyleft vs MIT</li>
<li data-sourcepos="105:3-105:95">Difference between licences related to code (GPL, etc) vs licences about content (CC-By-XX)</li>
</ul>
</li>
<li data-sourcepos="106:1-106:66">Define notions: free, nonfree, copyrighted, dual licensing, etc.</li>
<li data-sourcepos="107:1-110:112">Get experts on licenses to discuss them (via interviews):
<ul data-sourcepos="108:3-110:112">
<li data-sourcepos="108:3-108:19">Bradley M. Kuhn</li>
<li data-sourcepos="109:3-109:41">With maybe infographics or animations</li>
<li data-sourcepos="110:3-110:112">Provide diversity of opinions (get pro &amp; cons from the different camps, don't favor specific point of views)</li>
</ul>
</li>
<li data-sourcepos="111:1-111:28"><a href="https://choosealicense.com" rel="nofollow noreferrer noopener" target="_blank">https://choosealicense.com</a></li>
<li data-sourcepos="112:1-112:37"><a href="https://creativecommons.org/choose/" rel="nofollow noreferrer noopener" target="_blank">https://creativecommons.org/choose/</a></li>
</ul>
<p></p>
<ul>
<li data-sourcepos="113:1-114:0">Talk about recent changes of licenses from SaaS vendors (ElasticSearch, Kibana, etc.)</li>
</ul>