<p>Assignees: Marc &amp; Rémi</p>
<ul>
<li>Introduction to collaboration through a game:
<ul>
<li>Video presenting why we do that: to generate an interaction between learners: "I create something, you come to add to it," to show some of the very basic mecanisms of contributions (and receiving contributions) without getting too technical.</li>
<li>Then sending them into the game to contribute something there, giving them a goal like building a house, turning a house into a palace, or changing the decoration there -- in a way that fits within the environment. And maybe come back later, to see how others altered the creation.
<ul>
<li>Include a good tutorial, a video of someone going through the steps of playing. We want to be inclusive of people who are not familiar with 3D video games, and make sure they don't feel excluded from the course right away. For those who have never played a video game with WSQD &amp; a mouse, it's not going to be straightforward. For example, the default tool when joining is destroying blocks in front of the player -- the default action is thus to destroy everything rather than constructing something.</li>
<li>Handle the asynchronous aspect - there might or might not be other learners in the game when one joins it. Provide instructions for both situations.</li>
<li>Provide a way to report abuses &amp; bad behavior: report it on the forum. Also refer to the code of conduct of the course.</li>
</ul>
</li>
<li>Then a recap video: "Here is what you lived in this world. Here is what it means what you will live in the real world."</li>
</ul>
</li>
<li>The game is used to draw a few parallels with open-source collaboration:
<ul>
<li>Learners come in a world that already exists with already existing creations in it - like when you come in a business project. Learners have to fit in and contribute things that fit into the existing universe. It teaches that this universe is not ours as a new contributor, we're entering it, and discovering it as we edit it. When we come in to a building world, we're not sure what we want to build or what other people want us to build. There are people building a house here, "How do I fit in? How do I discuss with those people?" etc.</li>
<li>See the perspective from both sides of a contribution: as the one making a contribution, and as the one receiving a contribution. To also put learners in the position of the maintainers they will have to interact with, who created something that they want to modify. To see how it feels to have someone coming to make changes they would not have expected on top of their own vision for their creation. To see concretely that, when someone comes and tries to change something we have created, we won't necessarily like that change, especially without communication and collaboration between the original creator and the new contributor. There needs to be a process and limits to that, we can't expect maintainers to just accept anything.
<ul>
<li>One of the big mistakes that a lot of people do when they first contribute to FLOS is to think that, because we come to contribute something voluntarily, that this is automatically something that the project should be thankful for, and bend sideways to accept and merge in, without requiring additional efforts from the contributor. Just sending a pull request and expecting to be done isn't going to cut it -- it's the beginning of the process, with the goal being to adapt the contribution in a way that makes it acceptable to both the contributor <em>and</em> the upstream maintainer.</li>
<li>Relatedly, on many public Minecraft servers, there is a process to contribute -- otherwise anyone can come and destroy the work of others, or alter it in undesirable ways, as the game will likely illustrate. The issues are similar to contributions in FLOSS: permissions, trust.</li>
<li>More broadly, the necessity to handle unwanted behavior in general will show up. We can use the opportunity to mention the code of conduct of the course again, walk through its points, and note that the need to adhere to it is valid everywhere the course points to, within the course (game, forums) or outside of it, on the projects being contributed to (which might also have their own code of conduct, which should also be read and followed).</li>
</ul>
</li>
<li>On the other side, even if aggregrating contributions isn't always simple, the game will help to highlight the fact that 10 people contributing to build a cathedral in Minecraft goes much faster than someone doing it alone. It makes the principles of contributions to a common good more concrete, even before entering the more purely technical aspects specific to code contributions.</li>
<li>The question of the types of communication channels will likely also come up, because people will probably chat in the game, but it's not as efficient as setting a parallel communication channel. There might be also moments where other people are around, and then we can have something synchronous, but sometimes not. This also reflects what happens in FLOSS projects. Sometimes we get immediate response; sometimes we don't. Sometimes we are just working on our own and trying to fit our pieces in, without a whole lot of feedback until someone else comes in, sometimes days or weeks later. Other times, we're trying to place a piece and there are hundreds of other people trying to change the same thing at the same time.</li>
</ul>
</li>
<li>There are differences with "real world" contributions too, for example in the video game by default, there are no permissions, what is done is immediately merged, rather than going through a system of merge requests, reviews, etc.</li>
<li>The stakes are also low: people just create something that they care about for 15 minutes. But it's not something on which there is a deep need to have something curated, or have good moderation.</li>
</ul>
<p>Inspiration comes from Upstream University: using legos, someone was constructing an object/structure, and someone else came with an idea of how to modify it.</p>
<p>Further references:</p>
<ul>
<li><a href="https://gitlab.com/mooc-floss/mooc-floss/-/issues/14">https://gitlab.com/mooc-floss/mooc-floss/-/issues/14</a></li>
<li><a href="https://gitlab.com/mooc-floss/mooc-floss/-/issues/15">https://gitlab.com/mooc-floss/mooc-floss/-/issues/15</a></li>
<li><a href="https://gitlab.com/mooc-floss/mooc-floss/-/issues/27">https://gitlab.com/mooc-floss/mooc-floss/-/issues/27</a></li>
</ul>
<p></p>