<h3>Starting early</h3>
<ul>
<li>At the end of this MOOC, you will be expected to have merged a contribution to a FLOSS project</li>
<li>Contributing is <em>not</em> an easy or quick task! It can take a long time, and require many interactions and iterations. It's not uncommon to need several weeks, or even months, to get a meaningful contribution merged.</li>
<li>So don't keep this for the end of the course! You would likely not have the material time to be able contribute to a project by doing it at the last minute. It's important to start applying what we discuss in this course early on, in a specific project. You will have more time to become familiar with it, progress through trial and error, or even to replace it with another project if it doesn't end up being a good fit.</li>
</ul>
<h3>Picking a project</h3>
<ul>
<li>If you have already a project in mind that you would like to contribute, great! Personal interest in a given project can be the best source of motivation, though make sure to still assess its health through the criteria listed below. If you have several projects in mind, pick the one which seem the most healthy (see below)</li>
<li>
<p>If not:</p>
</li>
<ul>
<li>
<p>To help decide, ask yourself what are some software that are important in your life? What are things that you use on a daily life, and you'd like to know the people who do it a little bit better? Or even be able to add a feature there that you like?</p>
</li>
<li>
<p>The project selected in "give some love" can be a good one to consider</p>
</li>
<li>
<p>Otherwise, also have a look another project from the lists provided below</p>
</li>
</ul>
<li>
<p>Note that the decision of the project you pick to contribute doesn't need to be final at this stage -- don't worry too much about making the "right" choice for now. The important bit here is to experience doing a first contact, and start getting feedback and information ahead of confirming your choice of project, in module 4. Until then, the modules will list tips to help figuring out if the project a good match for you, or whether there might be another one where you will be able to contribute to more easily. Just make sure to start interacting now with at least one project, otherwise you won't have the experience and feedback necessary to take that decision then!</p>
</li>
</ul>
<p></p>