<p data-sourcepos="64:1-64:411" dir="auto">A good practice when contributing to a project is to identify the stakeholders. Indeed, the stakeholders are the people to talk to. Knowing who the decision makers are, and what are the criterias they will use to take those decisions will be key to ensuring that our own work will get approved. Good questions to ask yourself are "Who are the maintainers ?" and "What are their exact roles and organizations ?".</p>
<p data-sourcepos="66:1-66:382" dir="auto">It is also important to identify the users and customers of the project. Taking the time to identify them allows us to better determine their needs and the very reason the project exists and gets worked on. Even if they aren't always part of all the decisions, they need to be kept in mind while working on contributions, or during discussions around changes to make to the project.</p>
<p data-sourcepos="68:1-68:188" dir="auto">Some of the contributors or maintainers might be contributing on behalf of a company, which will also have its own motivations and needs to be met, and those will also influence decisions.</p>
<p data-sourcepos="70:1-70:309" dir="auto">Identifying on which basis people contribute will also help you understand when you can interact with them: when dealing with people who contribute in their spare time, it will be in the evening their time, and during the weekends. With paid staff, they usually will only be around during their working hours.</p>
<p></p>
<ul data-sourcepos="73:1-79:0" dir="auto">
<li data-sourcepos="73:1-79:0">Present examples of relationships between the different roles:
<ul data-sourcepos="74:3-79:0">
<li data-sourcepos="74:3-74:23">Listing of projects</li>
<li data-sourcepos="75:3-75:28">Listing of organizations</li>
<li data-sourcepos="76:3-76:24">Listing of companies</li>
<li data-sourcepos="77:3-77:42">Listing of maintainers and their roles</li>
<li data-sourcepos="78:3-79:0">etc.</li>
</ul>
</li>
</ul>