<ul>
<li>Why choosing floss and why this mooc is relevant/important because floss is a great tool</li>
<li>
<p>Why floss is good for: society, humanity, ethics, education</p>
</li>
<li>
<p>Free software can improve society/ changing the world</p>
<ul>
<li>FLOSS is a common good = community / interaction / efficient way to create a good an reliable software. *</li>
</ul>
</li>
<li>Why floss for small companies/big/independant etc..</li>
<li>
<p>Why is it also important and beneficial for people and companies to contribute to projects?</p>
<ul>
<li>Beyond just using free software, which is already a great step for personal freedom, compared to using proprietary software, it's also about being empowered to change the software we use.</li>
<li>Free software: changing society, giving back to make the world a better place,</li>
<li>Open source: also very objective advantages, including for companies that behave more egoistically. In terms of maintenance, being able to customize software without having to take care of <em>all</em> the maintenance, or being able to pull resources together, instead of having to replicate work done by others,</li>
</ul>
</li>
<li>
<p>Example projects and initiatives</p>
<ul>
<li>Include interviews excerpts on these points, from the different perspectives presented</li>
</ul>
</li>
</ul>
<p></p>