<p>Ideas and tasks from brainstorming sections that haven't been incorporated in the previous sections yet:</p>
<ul>
<li>Give ways to "fast-forward" modules if people are already familiar with the subject</li>
<li>When you can't take care of commitments you have taken anymore, either because you don't have the time anymore, or the energy for it, say so. It's much better to recognize and address those situations early, before it turns into a burnout. You can always come back to it later on, when/if you want to then - you'll be able to think about it more clearly after a pause anyway.</li>
<li>People coming to complain and ask to fix the bug as soon as possible -- it's important to them, and they can't understand why it wouldn't be to others, and don't want to contribute it either. I.e. being blamed like a proprietary software provider, despite the fact that the deal is very different in the case of FLOSS. The power to alter and fix the software is shared, but also the responsibility for it.</li>
<li>Include tests in contributions, and properly test both automatically and manually your code before submitting, to make sure to not lose a maintainer's time if your code actually doesn't work.</li>
<li>Add a section for open source project owners? "How to see if your project is fit to attract new contributors?", recapping the advices we give to contributors for evaluating open source projects. Something contributors could point to?
<ul>
<li>Additionally, references that provide best practices for open source projects, like <a href="https://producingoss.com/">https://producingoss.com/</a> could be used to build checklists of criterias for contributors to evaluate projects</li>
</ul>
</li>
</ul>
<p>Ideas from the <a href="https://gitlab.com/mooc-floss/mooc-floss/-/issues/27">Upstream University training recording</a>:</p>
<ul>
<li>Mentors as scrum masters: forms a team with the mentee to help further the mentee's goals, but is also part of the upstream team. Responsibilities include:
<ul>
<li>Removing road blocks,</li>
<li>Protecting against external interferences within the selected project,</li>
<li>Ensuring that communication channels remain open,</li>
<li>Making sure the rules of the game are followed</li>
<li>Letting the mentee and the upstream team manage itself</li>
<li>Help finding tasks that are meaningful for both the mentee's side (including the mentee's company if applicable) and the upstream side</li>
<li>Meet with the mentee regularly: daily/weekly 15 minutes standup - frequency proportional to the amount of work the mentee is able to put (every 8h of work)</li>
</ul>
</li>
</ul>
<p></p>