<p>This course will cover many topics over many components of the FLOSS world, and aims to get <em>you </em>to contribute to an open-source project of your choice. The main points we'll talk about in the various modules of this course are as follows:</p>
<ol>
<li>What is Free and Open-Source Software? What is it about, and how did it came to be?</li>
<li>Where are people in the FOSS world? How do people use websites such as github and gitlab and how do people collaborate? </li>
<li>Who are the contributors to open-source projects? How are projects structured, and what are the main economic models and licenses?</li>
<li>How do people interact? What are the etiquettes of the various communication platforms you may see? How can I get in touch with the developers of a project?</li>
<li>What are the good starting points to contribute to a project? How do I get help?</li>
<li>Contribute!</li>
</ol>
<p>These topics will get covered by a variety of activities, games, interviews and material, followed by quizzes to assess your grasp on those topics.</p>