<p>(Video - minetest play)</p>
<p>Welcome back! We hope you had a fun time. Now let's debrief: On purpose, we've sent you into an unknown world, with unclear instructions, and lots of creative freedom. Which created a first question: <em>What should I do?</em></p>
<p>This is a great first question, and once that is central to this course. The aim here is to get you to contribute to a free software community project, and the first question you should ask yourself is indeed this: What should I do?</p>
<p>The <strong>What could I do?</strong> question comes next. In the game, you <em>could</em> do anything, but the wording of the task, <em>leave the world a better place</em>, is context-dependent. Is there something that, on the first glance, looks bad and need improving ? Is there some unfinished thing in the middle of the place that you can contribute to ? Then you found your task. In a free software project, you will find bug lists and roadmaps that will show you a direction. You will also find dead code, undocumented unclear and untested code, code that is slow and unefficient, and all that could be improved.</p>
<p><strong>How to do it?</strong> is obviously a matter of perspective. You will have to use the tools you know, your skills and your knowledge. In some cases, you won't know. And that's okay! Usually, the best way to figure out how a community expects to do something is through discussions.</p>
<p>And, when you have several people focused on a common goal, whether in a game, or in any situation, communication, and at some point people skill in general, are key. If you were ingame with several people, maybe you found yourselves using the chat, and maybe you found yourselves looking for a most efficient way to communicate, as those questions tend to arise naturally in any collaboration environment.</p>
<h3 id="minetest-todo">Minetest TODO</h3>
<ul>
<li>discuss with framasoft</li>
<li>It can be useful to let people know that they can skip this if it doesn't work out for them, but I would encourage more strongly to try it out first, rather than telling them they can skip if they don't think they will benefit from it. Being unfamiliar with 3d games adds difficulty, but it is not a good reason to avoid it I think -- they could still learn and end up enjoying it. They won't know if they don't at least try!</li>
<li>Maybe add a link to the exact system requirements? <a href="https://wiki.minetest.net/Minetest#System_requirements">https://wiki.minetest.net/Minetest#System_requirements</a></li>
<li>You can find installation instructions at <a href="https://www.minetest.net/downloads/">https://www.minetest.net/downloads/</a> -&gt; step-by-step video tutorial, no?</li>
<li>Once installed, you can launch it and try a test world: TODO Screenshots - Click on "New" to create a new world, then click on "Create". -&gt; Imho a video with a voice over comment would be better than screenshots here, especially if we want to be inclusive of people unfamiliar with 3d games.</li>
<li>then post on the forum with a screenshot of... -&gt; It would be good to provide more guidance about what to do, and how -- maybe show some examples, of both new creations from scratch, improvements to other people's creations, what to say/ask to others if some are around, etc.</li>
<li>"Now is time..." -&gt; What is the difference between this part, and what is above? Once they are in game, they are already in one activity no? If the previous activity is meant to be purely about setup and configuration, and this one about the collaboration itself, maybe move the steps from the previous activity from line 76 !22 (diffs) to here?</li>
<li>It's a good start, but there are a few additional points to be made in this section -- cf the recap from the brainstorm meetings we had: !13 (diffs)</li>
</ul>
<p></p>