<script lang="typescript">
  import {GridWrap, GridWrapModifier, GridColumn, GridColumnModifier} from '$lib/components/grid';
  import {Wrap, WrapModifier} from '$lib/components/wrap';
  import {Island} from '$lib/components/island';
  import {Button} from '$lib/components/button';

  import type {FragmentId} from '$lib/enums/fragment-ids';

  export let fragmentId: FragmentId;
</script>

<section id={fragmentId}>
  <Island>
    <Wrap modifiers={[WrapModifier.Small]}>
      <div class="u-text--center">
        <h3>Stay in touch.</h3>

        <p>
          We are still building the course but would love to keep you updated on our progress!
          Please add your email address below so we can keep in touch.
        </p>

        <GridWrap modifiers={[GridWrapModifier.Center]}>
          <GridColumn baseWidth="1-of-2" viewportMap={{palm: '1-of-1', lap: '2-of-3'}}>
            <form action="./">
              <GridWrap modifiers={[GridWrapModifier.Smaller]}>
                <GridColumn modifiers={[GridColumnModifier.Auto]}>
                  <label class="u-accessibly-hidden" for="email">Email</label>
                  <input type="email" id="email" name="email" placeholder="Email address" />
                </GridColumn>
                <GridColumn modifiers={[GridColumnModifier.ShrinkWrap]}>
                  <Button type="submit">Join</Button>
                </GridColumn>
              </GridWrap>
            </form>
          </GridColumn>
        </GridWrap>
      </div>
    </Wrap>
  </Island>
</section>
