<script lang="typescript">
  import {GridColumn, GridColumnModifier, GridWrap, GridWrapModifier} from '$lib/components/grid';
  import {Wrap, WrapModifier} from '$lib/components/wrap';
  import {Island, IslandModifier} from '$lib/components/island';
  import {CaptionedImage} from '$lib/components/image';
  import {AnimatedSvg, AnimatedSvgText} from '$lib/components/animated-svg';

  import {urls} from '$lib/data/urls';
  import {resolveStaticAssetPath} from '$lib/utils/components';

  import type {FragmentId} from '$lib/enums/fragment-ids';

  import {whatYoullLearn} from '$lib/data/what-youll-learn';

  import learnUnderlineSvg from '$assets/img/svg/doodles/doodle-learn.svg?src';
  import handsOnUnderlineSvg from '$assets/img/svg/doodles/doodle-hands-on-experience.svg?src';
  import sparkleSvg from '$assets/img/svg/doodles/doodle-introducing-floss.svg?src';
  import encircleSvg from '$assets/img/svg/doodles/doodle-floss-projects.svg?src';
  import arrowLeftSvg from '$assets/img/svg/doodles/doodle-arrow-left.svg?src';

  export let fragmentId: FragmentId;

  const altSuffix = 'CC image courtesy of Publicity Pod on Flickr';
  const caption = `CC image courtesy of
    <a href="${urls.publicityPod}">Publicity Pod</a> on Flickr
  `;
</script>

<section id={fragmentId}>
  <Island modifiers={[IslandModifier.Base, IslandModifier.SmallestPalm]}>
    <Wrap>
      <GridWrap modifiers={[GridWrapModifier.Larger]}>
        <GridColumn modifiers={[GridColumnModifier.AutoDesk]} viewportMap={{portable: '1-of-1'}}>
          <h3 class="u-fs--h5">
            What you'll
            <AnimatedSvgText duration=".5s" svg={learnUnderlineSvg}>learn</AnimatedSvgText>
          </h3>

          <p>
            By the end of this 7-module free course, you will not only be able to contribute
            confidently to FLOSS projects, but will also have a much deeper understanding of the
            importance of the “open source” way of working.
          </p>
        </GridColumn>

        <GridColumn modifiers={[GridColumnModifier.ShrinkWrap]}>
          <div class="u-margin--negative--large--block-start--desk">
            <CaptionedImage
              class="circle-content"
              src={resolveStaticAssetPath('img/stock/developer-using-a-laptop.jpg')}
              alt="Developer using a laptop. {altSuffix}">{@html caption}</CaptionedImage
            >
          </div>
        </GridColumn>
      </GridWrap>

      <Island modifiers={[IslandModifier.SmallerStart, IslandModifier.SmallestStartPalm]}>
        <GridWrap>
          <GridColumn
            class="g--push-desk-1-of-4"
            baseWidth="2-of-3"
            viewportMap={{portable: '1-of-1'}}
          >
            <h3 class="u-fs--h5">
              Introducing
              <AnimatedSvgText duration=".3s" svg={sparkleSvg}>FLOSS</AnimatedSvgText>
            </h3>

            <p>
              We will start by defining FLOSS, discussing its benefits, and investigating the vital
              role it plays in society. Free/Libre and Open Source Software has a strong community
              foundation, so we will introduce you to the open source community right from the
              start. We will also teach you about how these communities tend to operate, as well as
              the different types of FLOSS contributions.
            </p>
          </GridColumn>
        </GridWrap>
      </Island>

      <Island modifiers={[IslandModifier.SmallerStart, IslandModifier.SmallestStartPalm]}>
        <GridWrap>
          <GridColumn
            class="g--push-desk-1-of-6"
            baseWidth="2-of-3"
            viewportMap={{portable: '1-of-1'}}
          >
            <h3 class="u-fs--h5">
              Working on
              <AnimatedSvgText svg={encircleSvg}>&nbsp;FLOSS&nbsp;</AnimatedSvgText>
              projects
            </h3>

            <p>
              You will learn about the tools and methods required to work on FLOSS projects, as well
              as the best practices for collaborating on these projects. We will dive into the
              technical aspects of testing, code reviews, code analysis, and build techniques. With
              these skills, you will be able to become an active and successful member of the FLOSS
              community.
            </p>
          </GridColumn>
        </GridWrap>
      </Island>
    </Wrap>

    <Wrap modifiers={[WrapModifier.Large]}>
      <Island modifiers={[IslandModifier.SmallerStart, IslandModifier.SmallestStartPalm]}>
        <GridWrap>
          <GridColumn
            baseWidth="11-of-12"
            class="g--push-desk-1-of-12"
            viewportMap={{palm: '1-of-1'}}
          >
            <GridWrap modifiers={[GridWrapModifier.Larger]}>
              <GridColumn modifiers={[GridColumnModifier.ShrinkWrap]}>
                <p class="u-margin--negative--large--block-start--desk">
                  <CaptionedImage
                    class="circle-content"
                    src={resolveStaticAssetPath('img/stock/excited-colleagues-in-a-meeting.jpg')}
                    alt="Excited colleagues in a meeting. {altSuffix}"
                    >{@html caption}</CaptionedImage
                  >
                </p>
              </GridColumn>

              <GridColumn modifiers={[GridColumnModifier.Auto]}>
                <h3 class="u-fs--h5">
                  FLOSS in the
                  <span class="u-ws--nowrap">
                    real world
                    <span class="u-display--inline-block" style="transform: translateY(30%);">
                      <AnimatedSvg svg={arrowLeftSvg} />
                    </span>
                  </span>
                </h3>

                <p>
                  We will introduce you to the different licensing models that are available, and
                  discuss the pros and cons of each. We will also investigate the various economic
                  models that can be applied to FLOSS projects, and introduce you to various
                  successful organizations, charities, and high-profile figures in the FLOSS
                  community.
                </p>
              </GridColumn>
            </GridWrap>
          </GridColumn>
        </GridWrap>
      </Island>
    </Wrap>

    <Wrap>
      <Island modifiers={[IslandModifier.SmallerStart, IslandModifier.SmallestStartPalm]}>
        <GridWrap modifiers={[GridWrapModifier.Middle]}>
          <GridColumn baseWidth="3-of-5" viewportMap={{portable: '1-of-1'}}>
            <h3 class="u-fs--h5">
              <AnimatedSvgText duration=".5s" svg={handsOnUnderlineSvg}>Hands-on</AnimatedSvgText> experience
            </h3>
            <p>
              We believe that we learn best by doing, so we have designed this course with a focus
              on hands-on experience. At the end of the course, your task will be to create a
              successful commit on an existing FLOSS project.
            </p>
          </GridColumn>
        </GridWrap>
      </Island>
    </Wrap>
  </Island>

  <div
    class="u-bgc--grey-dk u-margin--largest--inline u-margin--inline--palm u-padding--large--block-end"
  >
    <Island modifiers={[IslandModifier.SmallestStart]}>
      <div class="u-text--center">
        <Wrap modifiers={[WrapModifier.Larger]}>
          <div class="u-text--center">
            <h2 class="u-fs--h4 u-margin--largest--block-end">What you'll learn</h2>
          </div>

          <GridWrap modifiers={[GridWrapModifier.Larger]}>
            {#each whatYoullLearn as {image, text}}
              <GridColumn baseWidth="1-of-3" viewportMap={{lap: '1-of-2', palm: '1-of-1'}}>
                <div class="u-margin--mega--block-end">
                  <div>
                    <img
                      src={resolveStaticAssetPath(`img/what-youll-learn/${image.filename}`)}
                      alt={image.alt}
                    />
                  </div>

                  {text}
                </div>
              </GridColumn>
            {/each}
          </GridWrap>
        </Wrap>
      </div>
    </Island>
  </div>
</section>
