<script lang="typescript">
  import type {FragmentId} from '$lib/enums/fragment-ids';
  import {GridWrap, GridColumnModifier, GridWrapModifier, GridColumn} from '$lib/components/grid';
  import {Wrap, WrapModifier} from '$lib/components/wrap';
  import {Island, IslandModifier} from '$lib/components/island';
  import {Avatar, CaptionedImage} from '$lib/components/image';
  import {BlockLink} from '$lib/components/block-link';

  import {resolveStaticAssetPath} from '$lib/utils/components';
  import {urls} from '$lib/data/urls';
  import {contributors, whoWeAre, ourSupporters} from '$lib/data/who-we-are';

  import thankYouUrl from '$assets/img/svg/thank-you.svg?url';

  export let fragmentId: FragmentId;

  const altSuffix = 'CC image courtesy of Publicity Pod on Flickr';
  const caption = `CC image courtesy of
    <a href="${urls.publicityPod}">Publicity Pod</a> on Flickr
  `;
</script>

<section id={fragmentId}>
  <Island modifiers={[IslandModifier.Start]}>
    <Wrap modifiers={[WrapModifier.Larger]}>
      <div class="u-text--center">
        <h2 class="u-margin--largest--block-end u-fs--h3">Who we are</h2>
      </div>

      <GridWrap>
        {#each whoWeAre as {logo, bio, url, name}}
          <GridColumn
            baseWidth="1-of-2"
            modifiers={[GridColumnModifier.Tall]}
            viewportMap={{portable: '1-of-1'}}
          >
            <BlockLink href={url}>
              <img src={resolveStaticAssetPath(`img/partners/${logo}`)} alt={`${name} logo`} />
              <br />

              {@html bio}
            </BlockLink>
          </GridColumn>
        {/each}
      </GridWrap>
    </Wrap>
  </Island>

  <div class="absolute-context">
    <div class="absolute-context__content absolute-context__content--top-left">
      <img
        class="u-translate-3d u-translate-3d--portable"
        style={`
        --translate-x: 50%;
        --translate-y: 60%;
        --translate-x-portable: -10%;
        --translate-y-portable: 40%;
        `}
        src={thankYouUrl}
        alt="Illustration of a hand with the 'OK' sign and text 'Thank you'"
      />
    </div>

    <Island modifiers={[IslandModifier.Start]}>
      <div class="u-bgc--grey-dk u-margin--largest--inline u-margin--inline--palm">
        <Island modifiers={[IslandModifier.Smallest, IslandModifier.SmallerStartPalm]}>
          <Wrap modifiers={[WrapModifier.Small]}>
            <div class="u-text--center">
              <h3 class="u-fs--h5">Our supporters</h3>

              <p class="u-fc--grey-lt">
                This MOOC is produced by IMT and Télécom Paris with the financial support of the
                Patrick and Lina Drahi Foundation.
              </p>
            </div>
          </Wrap>

          <Wrap modifiers={[WrapModifier.Larger]}>
            <GridWrap>
              {#each ourSupporters as {url, logo, name}}
                <GridColumn baseWidth="1-of-3" viewportMap={{lap: '1-of-2', palm: '1-of-1'}}>
                  <p class="u-text--center">
                    <a href={url}>
                      <img
                        src={resolveStaticAssetPath(`img/partners/${logo}`)}
                        alt={`${name} logo`}
                      />
                    </a>
                  </p>
                </GridColumn>
              {/each}
            </GridWrap>
          </Wrap>
        </Island>
      </div>
    </Island>
  </div>

  <Island modifiers={[IslandModifier.Start, IslandModifier.SmallestStartPalm]}>
    <Wrap modifiers={[WrapModifier.Small]}>
      <div class="u-text--center">
        <h3 class="u-fs--h5">Course contributors</h3>

        <p class="u-fc--grey-lt u-margin--largest--block-end">
          We’re a passionate group of FLOSS experts who come from a multi-faceted background. We are
          excited to share our years of experience working on FLOSS projects with you.
        </p>
      </div>
    </Wrap>

    <Wrap modifiers={[WrapModifier.Larger]}>
      <GridWrap modifiers={[GridWrapModifier.Large]}>
        {#each contributors as {name, url, image, bio}}
          <GridColumn baseWidth="1-of-3" viewportMap={{lap: '1-of-2', palm: '1-of-1'}}>
            <div class="u-text--center u-margin--largest--block-end">
              <div class="u-margin--smallest--block-end">
                <Avatar
                  alt="Profile image for {name}"
                  href={url}
                  src={resolveStaticAssetPath(`img/contributors/${image}`)}
                />
              </div>

              <a class="u-fc--ntrl-min" href={url}>
                <strong>
                  {name}
                </strong>
              </a>

              <div
                class="u-fs--micro u-fc--grey-lt u-padding--inline u-padding--none--inline--palm"
              >
                {@html bio}
              </div>
            </div>
          </GridColumn>
        {/each}
      </GridWrap>
    </Wrap>
  </Island>

  <Island modifiers={[IslandModifier.SmallerStartDesk]}>
    <div class="u-padding--large--block-start--portable">
      <div class="u-bgc--grey-dk u-margin--inline--palm u-margin--largest--inline">
        <Island modifiers={[IslandModifier.Smallest, IslandModifier.SmallerStartPalm]}>
          <Wrap>
            <GridWrap modifiers={[GridWrapModifier.Middle, GridWrapModifier.Larger]}>
              <GridColumn modifiers={[GridColumnModifier.ShrinkWrap]}>
                <p>
                  <CaptionedImage
                    src={resolveStaticAssetPath(
                      'img/stock/developer-sitting-at-a-desk-doing-an-online-course.jpg',
                    )}
                    alt="Developer sitting at a desk doing an online course. {altSuffix}"
                    >{@html caption}</CaptionedImage
                  >
                </p>
              </GridColumn>

              <GridColumn
                modifiers={[GridColumnModifier.AutoDesk]}
                viewportMap={{portable: '1-of-1'}}
              >
                <h2 class="u-fs--h3 u-margin--largest--block-end">Want to get involved?</h2>

                <p class="u-fc--grey-lt">
                  This course is under development and you are welcome to contribute to the content
                  yourself! If you’d like to get involved, please
                  <a class="u-td--underline" href={urls.moocFlossRepo}> view our project </a>
                  on GitLab. Feel free to use our
                  <a class="u-td--underline" href="{urls.moocFlossRepo}/-/issues"> issues list </a>
                  to ask questions about the project, help with existing issues, or raise new issues.
                </p>
              </GridColumn>
            </GridWrap>
          </Wrap>
        </Island>
      </div>
    </div>
  </Island>
</section>
