/*------------------------------------*\
    DROP SHADOW UTILITY MIXINNS
\*------------------------------------*/
@mixin u-drop-shadow-text-ios-fallback($offset-x, $offset-y, $blur-radius, $spread-radius, $clr) {
  // iOS only
  @supports (-webkit-overflow-scrolling: touch) {
    text-shadow: $offset-x $offset-y $blur-radius $clr;
  }

  // non-iOS
  @supports not (-webkit-overflow-scrolling: touch) {
    filter: drop-shadow($offset-x $offset-y $blur-radius $clr);
  }
}

@mixin u-drop-shadow-ios-fallback($offset-x, $offset-y, $blur-radius, $spread-radius, $clr) {
  // iOS only
  @supports (-webkit-overflow-scrolling: touch) {
    box-shadow: $offset-x $offset-y $blur-radius $spread-radius $clr;
  }

  // non-iOS
  @supports not (-webkit-overflow-scrolling: touch) {
    filter: drop-shadow($offset-x $offset-y $blur-radius $clr);
  }
}

@mixin u-drop-shadow {
  @include u-drop-shadow-ios-fallback(
    0, 5px, 5px, 0, transparentize($clr-ntrl-max, .8)
  );
}
