/*------------------------------------*\
    DOCUMENT
\*------------------------------------*/
:root {
  --#{$custom-properties-prefix}clr-background: #{$clr-background};
  --#{$custom-properties-prefix}clr-base: #{$clr-base};
  --#{$custom-properties-prefix}clr-selection: #{$clr-selection};
}

html {
  /*
   * Can't use relative units on html due to bug on
   * Chrome and Safari.
   * CodePen: http://codepen.io/larrybotha/pen/wKYYXE
   * Chrome Bug Tracker: https://code.google.com/p/chromium/issues/detail?id=319623#c16
   */
  font-size: $fs-base;
  min-height: 100%;
}

html,
body,
button,
input,
select,
textarea {
  color: var(--#{$custom-properties-prefix}clr-base);
}

/**
 * FireFox on Android adds gradients to these elements
 */
button,
input,
select,
textarea {
  background-image: none;
}

body {
  background-color: var(--#{$custom-properties-prefix}clr-background);
  font-size: 1em;
  line-height: $line-height-base;
  margin: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 */
::-moz-selection {
  background: var(--#{$custom-properties-prefix}clr-selection);
  color: #fff;
  text-shadow: none;
}
::selection {
  background: var(--#{$custom-properties-prefix}clr-selection);
  color: #fff;
  text-shadow: none;
}
