/*------------------------------------*\
    FONT SIZE VARIABLES
\*------------------------------------*/
$fs-base: 16px !default;

/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$fs-giga: 96px !default; // .fs--giga
$fs-mega: 72px !default; // .fs--mega
$fs-kilo: 48px !default; // .fs--kilo

$fs-h1: 36px !default; // .fs--alpha
$fs-h2: 30px !default; // .fs--beta
$fs-h3: 24px !default; // .fs--gamma
$fs-h4: 20px !default; // .fs--delta
$fs-h5: 16px !default; // .fs--epsilon
$fs-h6: 14px !default; // .fs--zeta

$fs-milli: 12px !default; // .fs--milli
$fs-micro: 10px !default; // .fs--micro
$fs-nano: 8px !default; // .fs--nano
