/*------------------------------------*\
    BANNER
\*------------------------------------*/
.banner {
  @include u-padding--largest--block-start;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include media-query(portable) {
    @include island--start;
  }
}

  .banner__content {
    flex: 1;
  }

    .banner__title {
      --font-size-max: #{px-to-rem($fs-giga)};
      --font-size-min: #{px-to-rem($fs-h3)};
      font-size: clamp(var(--font-size-min), 15vw, var(--font-size-max));
    }

    .banner__sub-title {
      font-size: px-to-rem($fs-h6);
    }
