/*------------------------------------*\
    HEADER
\*------------------------------------*/
.area-header {
  background-color: var(--struct-clr-ntrl-max);
  position: sticky;
  top: 0;
  z-index: 10;

  @include media-query(portable) {
    justify-content: initial;
    position: relative;
    z-index: 0;
  }
}

.area-header--portable {
  @include media-query(portable) {
    @include u-drop-shadow;
    @include u-padding--smallest--block;
    @include u-padding--largest--inline;
    background-color: var(--struct-clr-ntrl-max);
    position: sticky;
    top: 0;
    z-index: 10;
  }

  @include media-query(palm) {
    @include u-padding--inline;
  }
}
