/*------------------------------------*\
    $ISLAND MIXINS
\*------------------------------------*/
$island-pad-largest: px-to-rem($spacing-scalar * $fs-base * 6.8);
$island-pad-larger: px-to-rem($spacing-scalar * $fs-base * 6.2);
$island-pad-large: px-to-rem($spacing-scalar * $fs-base * 5.4);
$island-pad: px-to-rem($spacing-scalar * $fs-base * 4.8);
$island-pad-small: px-to-rem($spacing-scalar * $fs-base * 4);
$island-pad-smaller: px-to-rem($spacing-scalar * $fs-base * 3);
$island-pad-smallest: px-to-rem($spacing-scalar * $fs-base * 2.5);

@mixin island--largest--start {
  padding-block-start: $island-pad-largest;
}
@mixin island--largest--end {
  padding-block-end: $island-pad-largest;
}

@mixin island--largest {
  @include island--largest--start;
  @include island--largest--end;
}

@mixin island--larger--start {
  padding-block-start: $island-pad-larger;
}
@mixin island--larger--end {
  padding-block-end: $island-pad-larger;
}

@mixin island--larger {
  @include island--larger--start;
  @include island--larger--end;
}

@mixin island--large--start {
  padding-block-start: $island-pad-large;
}
@mixin island--large--end {
  padding-block-end: $island-pad-large;
}

@mixin island--large {
  @include island--large--start;
  @include island--large--end;
}

@mixin island--start {
  padding-block-start: $island-pad;
}
@mixin island--end {
  padding-block-end: $island-pad;
}

@mixin island {
  @include island--start;
  @include island--end;
}

@mixin island--small--start {
  padding-block-start: $island-pad-small;
}
@mixin island--small--end {
  padding-block-end: $island-pad-small;
}

@mixin island--small {
  @include island--small--start;
  @include island--small--end;
}

@mixin island--smaller--start {
  padding-block-start: $island-pad-smaller;
}
@mixin island--smaller--end {
  padding-block-end: $island-pad-smaller;
}

@mixin island--smaller {
  @include island--smaller--start;
  @include island--smaller--end;
}

@mixin island--smallest--start {
  padding-block-start: $island-pad-smallest;
}
@mixin island--smallest--end {
  padding-block-end: $island-pad-smallest;
}

@mixin island--smallest {
  @include island--smallest--start;
  @include island--smallest--end;
}
