<script lang="typescript">
  import {intersection} from '$lib/actions/intersection-observer';

  import AnimatedSvg from './animated-svg.svelte';

  let klass = '';
  export {klass as class};
  export let svg: string;
  export let duration = '1s';

  enum State {
    Initial = 'initial',
    Animated = 'animated',
  }

  let state = State.Initial;

  function handleIntersectionExit() {
    if (state === State.Animated) {
      state = State.Initial;
    }
  }

  function handleIntersectionEntry() {
    if (state === State.Initial) {
      state = State.Animated;
    }
  }
</script>

<span
  use:intersection
  on:intersectionentry={handleIntersectionEntry}
  on:intersectionexit={handleIntersectionExit}
  class="animated-svg-text {klass}"
  style="--transition-duration: {duration};"
>
  <AnimatedSvg data-css-state={state} class="animated-svg-text__svg" {svg} />

  <span class="animated-svg-text__text">
    <slot />
  </span>
</span>
