/*------------------------------------*\
    $ALERTS
\*------------------------------------*/
@mixin f8-alert {
  border: 1px solid;
  padding: px-to-rem($spacing-scalar * $fs-base);

  & p:last-child,
  & ul:last-child {
    margin-block-end: 0;
  }
}

@mixin f8-alert__close {
  background-color: transparent;
  background-image: none;
  border: 0;
  color: hsla(0, 0%, 0%, 0.2);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: normal;
  outline: 0;
  padding: 0.5em;
  position: absolute;
  inset-inline-end: 1.5em;
  text-align: center;
  inset-block-start: 1em;
  transition: 0.15s ease-in-out;

  &:hover,
  &:focus {
    color: hsla(0, 0%, 0%, 0.4);
  }
}
