/*------------------------------------*\
    FONT SIZE UTILITIES
\*------------------------------------*/
.u-fs--giga {
  @include u-fs--giga;
}

//.u-fs--h1    { @include u-fs--h1;}
//.u-fs--h2    { @include u-fs--h2;}
.u-fs--h3    { @include u-fs--h3;}
.u-fs--h4    { @include u-fs--h4;}
.u-fs--h4--palm    {
  @include media-query(palm) {
    @include u-fs--h4;
  }
}
.u-fs--h5    { @include u-fs--h5;}
//.u-fs--h6    { @include u-fs--h6;}

//.u-fs--base  { @include u-fs--base;}

//.u-fs--milli { @include u-fs--milli;}
.u-fs--micro { @include u-fs--micro;}
//.u-fs--nano  { @include u-fs--nano;}
