/*------------------------------------*\
    FONT SIZE VARIABLES
\*------------------------------------*/

/*------------------------------------*\
    FONT SIZES
\*------------------------------------*/
$fs-base: 20px;

$fs-giga: 118px;
$fs-mega: 72px;
$fs-kilo: 48px;

$fs-h1: 80px;
$fs-h2: 62px;
$fs-h3: 44px;
$fs-h4: 38px;
$fs-h5: 32px;
$fs-h6: 23px;

$fs-milli: 17px;
$fs-micro: 15px;
$fs-nano: 12px;
