<script lang="typescript">
  import {onMount, createEventDispatcher} from 'svelte';

  import {intersection, IntersectionEvent} from '$lib/actions/intersection-observer';

  let klass = '';
  export {klass as class};
  export let svg: string;

  enum State {
    Intersected = 'intersected',
    NotIntersected = 'not-intersected',
  }

  const dispatch = createEventDispatcher();

  let state = State.NotIntersected;
  let node: HTMLSpanElement;

  function handleIntersectionEntry() {
    state = State.Intersected;
    dispatch(IntersectionEvent.Entry);
  }

  function handleIntersectionExit() {
    state = State.NotIntersected;
    dispatch(IntersectionEvent.Exit);
  }

  onMount(() => {
    dispatch('svgmount', {svg: node.querySelector('svg')});
  });
</script>

<span
  bind:this={node}
  class="intersected-svg {klass}"
  data-css-intersection={state}
  on:intersectionentry={handleIntersectionEntry}
  on:intersectionexit={handleIntersectionExit}
  use:intersection
  {...$$restProps}
>
  {@html svg}
</span>
